@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap');
:root {
   --main-bg-color: rgb(43, 46, 48);
}

*{
    margin: 0;
    padding: 0;
}

header{
    background: white;
    width:100vw;
    
}
.logo{
    margin-left: 100px;
    margin-right: 20px;
    cursor: pointer;
}
nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-left:100px; */
    width:100vw;
    box-shadow: 0 2px 20px rgb(215, 215, 215);
}
nav ul{
    display: flex;
    height: 78px;
    align-items: center;
    margin:0 100px 0 10px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: var(--main-bg-color);
text-decoration: none;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
font-size:14px;
cursor: pointer;
}
.image{
    position: absolute;
width: 19px;
left: 1004px;
}
input{
    width: 594px;
border-radius: 5px;
height: 30px;
margin-left: 178px;
background-color: #f1f1fc;
}
.endheader{
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left{
    margin: 0 30px 0 80px;
}
.middle{
    margin: 4px 30px 0 10px;
    cursor: pointer;
}
.right{
    margin: 0 10px 1px 10px;
    cursor: pointer;
}
.upperpart{
    display:flex;
    max-width:100vw;
    flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
    background-image: linear-gradient(to right, rgba(182, 210, 255,0), rgb(182, 210, 255,1));
}
.upperpart img{
    height:50px;
}
.upperpart p{
    color: var(--main-bg-color);
    max-width: 18vw;
    text-align: left;
    margin: 10px 0 10px 10px;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.paragraph{
    display: flex;
   justify-content: center;
    flex-direction: column;
    line-height: 0px;
}
.upperpart button{
    color: red;
    height: 28px;
    width: 6vw;
    font-weight: bold;
    margin-left: 9px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
.slider{
    margin-top:50px;
}
.card{
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
}

